<p>
  Ship Name: <%= @wreck.shipname %>
</p>

<p>
  Location of Wreck: <%= @wreck.latitude %>, <%= @wreck.longitude %>
</p>
<p>
  Summary of Events: <%= @wreck.summary %>
</p>

<p>
  <%= link_to("Further Reading",@wreck.link )%>
</p>
